<header>
  <span id="connected">00:00:00</span>
</header>

<div id="spots">
  <ul>
    <li>Hlakket <time>000</time></li>
    <li>Delbert <time>000</time></li>
    <li>Smugglers <time>000</time></li>
    <li>Offler <time>000</time></li>
    <li>CGuards <time>000</time></li>
    <li>Medina <time>000</time></li>
    <li>Snail <time>000</time></li>
    <li>Casino <time>000</time></li>
    <li>Stables <time>000</time></li>
    <li>Bandits <time>000</time></li>
    <li>Rogues <time>000</time></li>
    <li>Trolls <time>000</time></li>
    <li>Cabbage <time>000</time></li>
    <li>Dwarves <time>000</time></li>
    <li>Oasis <time>000</time></li>
  </ul>
</div>

<div id="client">
  <div id="scrollback"></div>
  <div id="divider"></div>
  <main id="output"></main>
</div>

<div id="input">
  <input type="text" name="input" autofocus="autofocus" />
</div>

<div id="shields"></div>
